{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "{% static 'foundation-6.4.2/css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'foundation-6.4.2/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Login</title>
</head>

<body>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-4 cell"></div>
            <div class="medium-4 cell">
                <form class="log-in-form" method="post">
                    {% csrf_token %}
                    <h4 class="text-center">Log In</h4>

                    <label>Username
                        <input type="text" placeholder="somebody" name="username" autofocus="" required="" id="id_username">
                    </label>

                    <label>Password
                        <input type="password" name="password" required="" id="id_password" placeholder="Password">
                    </label>

                    <input id="show-password" type="checkbox"><label for="show-password">Show password</label>

                    <p><input type="submit" class="button expanded" value="Log in"></p>

                    <p class="text-center"><a href="#">Forgot your password?</a></p>
                </form>
            </div>
            <div class="medium-4cell"></div>
        </div>
    </div>
</body>
</html>
