{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href = "{% static 'fontawesome-5.2.0/css/fontawesome.css' %}">
    <link rel="stylesheet" href = "{% static 'foundation-6.4.2/css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'foundation-6.4.2/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    {% block link %}{% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>

    {% block header_content %}{% endblock %}
    {% block left_content %}{% endblock %}
    {% block content %}{% endblock %}
    {% block right_content %}{% endblock %}
    {% block footer_content %}{% endblock %}

    <script src="{% static 'foundation/6.0.1/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'foundation/6.0.1/js/vendor/what-input.js' %}"></script>
    <script src="{% static 'foundation/6.0.1/js/vendor/foundation.js' %}"></script>
    <script src="{% static 'foundation/6.0.1/js/app.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    {% block script %}{% endblock %}

</body>
</html>
