<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block link %}{% endblock %}
    <title>
        {% block header %}{% endblock %}
    </title>
</head>

<body>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    {% block script %}{% endblock %}

    {% block header_content %}{% endblock %}
    {% block left_content %}{% endblock %}
    {% block content %}{% endblock %}
    {% block right_content %}{% endblock %}
    {% block footer_content %}{% endblock %}

</body>
</html>