<!DOCTYPE html>
<html>
<head>
    <title>Fleet Manager</title>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-router/dist/vue-router.js"></script>
</head>
<body>
    <div id="app">
        <h1>{{ greeting }}</h1>
        <p>
            <router-link to="/foo">Go to Foo</router-link>
            <router-link to="/bar">Go to Bar</router-link>
        </p>
        <router-view></router-view>
    </div>

    <script>
        const Foo = { template: '<div>foo</div>' };
        const Bar = { template: '<div>bar</div>' };

        const routes = [
            { path: '/foo', component: Foo },
            { path: '/bar', component: Bar }
        ];

        const router = new VueRouter({
            routes: routes
        });

        var app = new Vue({
            router: router,
            el: '#app',
            data: {
                greeting: 'Welcome to your Vue.js app!'
            },
            methods: {

            }
        })
    </script>
</body>
</html>
